
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    box-sizing: border-box;
}
body{  
   font-family: poppins;
   font-weight: bolder;
   text-align: center;
   background-repeat: no-repeat;
   background: rebeccapurple;
}
button{
    padding: 10px;
    width: 200px;
    font-family: inherit;
    margin-top: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
  border: 2px solid white;
  font-size: 25px;
  color: white;
  background-color: rebeccapurple;

}
p{ 
Font-size: 30px;
  color: white;
}
span{
color: white;
}